<!DOCTYPE HTML>
<html >
<head>
<title>Create Project Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
        $(function() {
            $( "#createdate" ).datepicker();
        });
	</script>
	<link rel="stylesheet" href="../../css/ksya.css" />
	<link rel="stylesheet" href="../../css/util.css" />
</head>
<body>
	<div class="container">
		<h2>Please fill in the following contents</h2>
		<form action="" method="post">
			<div class="row">
				<div class="labelcol">
					<label for="teamname">Team Name:</label>
				</div>
				<div class="textcol">
					<input type="text" id="teamname" class="inputstyle" name="teamname"/>
				</div>
			</div>
			<div class="row">
				<div class="labelcol">
					<label for="projectname">Project Name:</label>
				</div>
				<div class="textcol">
					<input type="text" id="projectname" class="inputstyle" name="projectname"/>
				</div>
			</div>
			<div class="row">
				<div class="labelcol">
					<label for="createdate">Create Date:</label>
				</div>
				<div class="textcol" id="selectdate">				
					<input type="text" id="createdate" class="inputstyle" name="createdate"/>
					<span><i id="aa" class="fa fa-calendar" style="font-size:24px"></i></span>
				</div>
			</div>
			<div class="row">
				<div class="buttonplace">
					<input class="btn-class" type="Submit" name="Submit" value="Submit">
				</div>
			</div>
		</form>
		<div>
			<table>
				<thead class="headerstyle">
					<td class="cellstyle">Team</td>
					<td class="cellstyle">Project</td>
					<td></td>
				</thead>
			</table>
		</div>
	</div>
</body>
</html>